@model Portfolio.ViewModels.ContantViewModel
@{
    ViewBag.Title = "Message Manager";
}
<h1>
    Manage messages
</h1>
<div class="container">
    <purchase-app>Загрузка...</purchase-app>
</div>

@section scripts{
   
}