@model Portfolio.ViewModels.ContantViewModel
@{
    ViewBag.Title = "Message Manager";
}
<h1>
    Manage messages
</h1>
<div class="container" ng-app="managerApp">
    <div class="col-md-9" ng-controller="MessageManagerController as msgCtrl">
        <span>{{msgCtrl.messageText}}</span>
    </div>
</div>

@section scripts{
   
}